body{
    color: midnightblue;
    text-align: center;
    font-family: "Arial";
}

#post{
    margin: 50px;
    padding: 20px;
    border-style: solid;
}

#post p{
    padding: 10px;
    text-align: left;
}

#post h2{
    color: black;
}

#cabecera{
    background-color: darkblue;
    color: white;
    padding: 10px;
    height: 70px;
}